
<html>
<head>
  <title>CV Builder</title>
</head>

<body>
  <h1>CV Builder </h1>

  <div class="PersonalDetails">
    <h3>Personal Details</h3>
    <form method="POST">
      <p id="namequestion">Enter your full name</p>

      <input type="text" name="name" id="name">
      <br>
      <p id="emailquestion">Enter your email</p>
      <input type="email" name="email" id="email">
      <br>
      <p id="telquestion">Enter your telephone number</p>
      <input type="tel" name="number" id="number">
      <br>
      <input type="submit" value="Submit" id="details">
    </form>
  </div>
  <br>
  <div class="PersonalProfile">
    <h3>Personal Profile</h3>
    <form method="POST">
      <p id="profquestion">Enter a personal profile</p>

      <textarea name="personalprof" id="personalprof" rows="8" cols="80"></textarea>
      <br>
      <input type="submit" value="Submit" id="Profile">
    </form>
  </div>
  <br>
  <div class="Skills">
    <h3>Skills</h3>
    <form method="POST">
      <p id="Skillsquestion">Enter a skill</p>
      <input type="text" name="skill" id="skill" >
      <br>
      <input type="submit" value="Submit" id="Skills">
  </div>
  <br>
  <div class="Achievments">
    <h3>Achievments</h3>
    <form method="POST">
      <p id=Achievmentquestion>Enter an achievment</p>
      <input type="text" name="achievement" id="achievment">
      <br>
      <input type="submit" value="Submit" id="achievment">
  </div>
  <br>
  <div class="WorkExperience">
    <h3>Work Experience</h3>
    <form method="POST">
      <p id="placeofworkq">Enter the place of work</p>
      <input type="text" name="placeofwork" id="placeofwork">
      <br>
      <p id="roleq">Enter the job role</p>
      <input type="text" name="role" id="role">
      <br>
      <p id="startdatewq">Enter the start date of the job</p>
      <input type="date" name="startdatew" id="startdatew">
      <br>
      <p id="enddatewq">Enter the date you finished the role</p>
      <input type="date" name="enddatew" id="enddatew">
      <br>
      <p id="jobdesq">Enter the job description details</p>
      <textarea rows="5" cols="60" name="description" id="description"></textarea><br>
      <input type="submit" value="Submit" id="WorkExperience">

  </div>
  <br>
  <div class="Education">
    <h3>Education</h3>
    <form method="POST">
      <p id="schoolq">Enter the name of the school</p>
      <input type="text" name="school" id="school">
      <br>
      <p id="startdatesq">Enter the date you started at the school</p>
      <input type="date" name="startdates" id="startdates">
      <br>
      <p id="enddatesq">Enter the date you finished at the school</p>
      <input type="date" name="enddates" id="enddates">
      <br>
      <p id="gradesq">Enter grades obtained</p>
      <textarea name="grades" id="grades" rows="8" cols="60"></textarea>
      <br>
      <input type="submit" value="Submit" id="EducationSubmit"
  </div>

</body>
</html>
